* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.child {
  position: relative;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'dazzle-unicase', sans-serif;
  font-weight: 700;
  font-size: 12em;
  text-align: center;
  line-height: 1;
  color: #fcea2b;
}

.img1 {
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 72, 0.5)),
    url('img/3d-rendering-virtual-reality-background.png');
}

.img2 {
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 72, 0.5)),
    url('img/door-leading-magical-world.png');
}

.img3 {
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 72, 0.5)),
    url('img/futuristic-cityscape-sunset-men-flying-spaceships-generated-by-ai.png');
}

.img1,
.img2,
.img3 {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.icon {
  width: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 2000px) {
  body {
    font-size: 1vw;
  }
}
